<div class="content">
  <div *ngIf="!isHa && !isNawRuz" style="text-align:center">
    <div class="icon" *ngIf="name === 'Sunrise'">
      <i class="far fa-sun fa-2x"></i>
    </div>
    <div class="icon" *ngIf="name === 'Sunset'">
      <i class="far fa-moon fa-2x"></i>
    </div>
    <div class="name">{{name}}</div>
    <div class="time">{{time | amDateFormat:'h:mma'}}</div>
    <div class="until">{{time | amTimeAgo }}</div>
  </div>

  <div *ngIf="isNawRuz" style="text-align:center">
    <div class="icon">
      <i class="far fa-gem fa-2x"></i>
    </div>
    <div class="nawruz">Happy<br/>Náw-Rúz!</div>
  </div>

  <div *ngIf="isHa" style="text-align:center">
    <div class="icon">
      <i class="far fa-gem fa-2x"></i>
    </div>
    <div class="nawruz">Happy<br />Ayyám-i-Há!</div>
  </div>

</div>